{% extends "base.html" %}


{% block latest_publication %}
    <div class="latest_publications">
        <h2>Publications</h2>

        <div class="latest_articles">
            {%for publication in publications %}
                <div>
                    <h3>{{publication.title}}</h3>
                    <p>{{publication.content|truncatewords:5}}</p>
                    <a href="{{ publication.get_url }}">READ</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}